<div class="overflow-y-auto h-[calc(100vh-4rem)] bg-white text-blue-900 mt-[4rem]">
    <div class="border border-gray-200 p-2 mx-1 my-2 cursor-pointer rounded-lg"
        [ngClass]="_chatService.chatroom() === 'general' ? 'bg-blue-500 text-white' : 'text-blue-500 bg-white'"
        (click)="changeUser('general')">Chat global</div>

    @for (user of _chatService.activeUsers(); track user.id) {
    @if (user.name !== _wsService.getUser()) {
    <div class="border border-gray-200 p-2 mx-1 my-2 cursor-pointer rounded-lg"
        [ngClass]="_chatService.chatroom() === user.name ? 'bg-blue-500 text-white' : 'text-blue-500 bg-white'"
        (click)="changeUser(user)">{{user.name}}</div>
    }
    }
</div>
