<section class="flex flex-col h-full">
    <div #messagesContainer class="w-full overflow-y-auto py-2 flex-1">
        @for (message of messages(); track $index) {
            <div class="p-2 text-gray-600 flex m-2"
                [ngClass]="message.from !== _wsService.getUser() ? 'justify-start' : 'justify-end'">
                <span class="w-fit px-2 py-1 rounded-lg"
                    [ngClass]="message.from !== _wsService.getUser() ? 'bg-gray-200 text-black flex flex-col' : 'bg-blue-500 text-white'">
                    @if (message.from !== _wsService.getUser()) {
                        <small class="text-[10px] text-gray-500">{{ message.from }}</small>
                    }
                    {{ message.body }}
                </span>
            </div>
        }
    </div>
    <div class="my-1 mx-4">
        <form [formGroup]="form" (ngSubmit)="send()">
            <input type="text" class="form-input" placeholder="Escribe tu mensaje" formControlName="message">
        </form>
    </div>
</section>
